  <section>
    <div class="section" *ngFor="let link of ids" [attr.id]='link' >
      <h1>{{link}}</h1>
      <div class="content">
        <p>aaaaaaa<br>
            aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa<br>
            aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa<br>
            aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa<br>
            aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa<br>
            aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa<br>
            aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa<br>
            aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa<br>
            aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa<br>
            aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa<br>
            aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa<br>
            aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa<br>
            aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa<br>
            aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa<br>
            aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa<br>
            aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa<br>
            aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa<br>
            aaaaaaaaaaaaaaaaaaa</p>
      </div>
    </div>
  </section>